.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  padding: 1rem;
  border-bottom: 1.5px solid #ccc;
}

.new-icon {
  margin-right: 6px;
}

.Add-c-headings {
  padding: 0.5rem 2rem 0rem 2rem;
}

button {
  background: #3395ff;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.add-class-body {
  width: 80%;
  margin: 3rem auto;
  border: 2px solid #3395ff;
  background-color: #f0f7fb;
  border-radius: 6px;
  padding: 2rem;
}

.col-md-12 {
  width: 100%;
  text-align: center;
}

.dashboard-container {
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: initial;
  background-color: white;
  /* background-color: #fff; */
}

.toFromMargin {
  margin-top: 1.5rem;
  text-align: center;
}

select {
  border: none;
  background-color: #0176d300;
  padding: 5px;
}