div {
    color: #444;
}

.studentContainer {
    /* background: #fff;
    position: inherit;
    top: inherit;
    right: inherit;
    width: 40%;
    height: 100vh;
    padding: 1rem; */

    background: #fff;
    position: inherit;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 1rem;
    border-radius: 8px;
}

.cHeader {
    display: flex;
    justify-content: space-between;
}

.cFooter {
    padding: 1rem;
}

.cBody {
    /* max-height: 500px; */
    max-height: 70%;
    overflow-y: auto;
}

table {
    text-align: center;
    position: relative;
    width: 100%;
}

th {
    top: 0;
    position: sticky;
    background: #f1f1f1;
}

.searchInfo,
.notDate,
.closePop {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

th,
td {
    padding: 8px 1rem;
}

th:last-child,
td:last-child {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.my-icon {
    --sds-c-icon-color-background: #ffa500aa;
}

.closePop lightning-icon {
    cursor: pointer;
}