lightning-layout-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.leftBox {
  /* background-color: #0176d3;
    background-color: #536a8c;0176d3
    color: #fff;
    padding: 10px;
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    overflow: auto; */

  background-color: #0176d3;
  display: flex;
  gap: 10px;
  color: #fff;
  padding: 10px;
  width: 50%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  /* overflow: auto; */
  align-items: center;
  justify-content: center;
}

.leftBox>h2 {
  letter-spacing: 2px;
  font-size: revert;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rightBox {
  display: flex;
  flex-direction: column;
  background-color: #e5f0fa;
  padding: 10px;
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  overflow: auto;
  justify-content: flex-start;
  gap: 8px;
}

.rightBox>p {
  font-size: 0.8rem;
  color: #898989;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.resScreen {
  /* width: 100%; */
  display: grid;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  /* flex-direction: row;
    justify-content: space-evenly; */
}

/* 
@media(max-width: 720px){
    .resScreen{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1080px){
    .resScreen{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
} */

.container {
  width: 100%;
  height: 15vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.slds-badge {
  color: white;
  background: #0176d3;
  /* box-shadow: 0px 0px 10px 2px rgb(255 255 255 / 50%); */
  /* max-width: 50px; */
  /* overflow: hidden; */
  padding: 0px;
  margin-bottom: -10px;
  font-size: xx-large;
}

.rightBox>h3 {
  font-weight: 500;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.step {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-90deg);
}

.leftBox::after {
  content: "";
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e5f0fa;
  position: absolute;
  right: 0;
  bottom: 65%;
}

.rightBox::-webkit-scrollbar {
  display: none;
}

/* @media (max-width: 1080px) {
} */
@media (min-width: 720px) and (max-width: 1080px) {
  .leftBox::after {
    display: none;
  }

  .container {
    height: auto;
  }

  .leftBox {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .rightBox {
    width: 100%;
  }

  /* .rightBox > h3 {
    font-weight: 600;
    text-align: justify;
    font-size: 0.8rem;
  }
  .rightBox > p {
    text-align: justify;
    color: #898989;
    font-size: 0.8rem;
  } */
}