.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    padding: 1rem;
    border-bottom: 1.5px solid #ccc;
  }
  
  .new-icon {
    margin-right: 6px;
  }
  
  .Add-c-headings {
    padding: 0.5rem 2rem 0rem 2rem;
  }
  
  button {
    background: #3395ff;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }
  
  .add-class-body {
    width: 80%;
    margin: 3rem auto;
    border: 2px solid #3395ff;
    background-color: #f0f7fb;
    border-radius: 6px;
    padding: 2rem;
  }
  
  .col-md-12 {
    width: 100%;
    text-align: center;
  }
  
  .dashboard-container {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: initial;
    background-color: white;
    /* background-color: #fff; */
  }
  .slds-col {
    text-align: center;
  }
  
  h2.header {
    margin: 0rem 1rem 1rem 1rem;
    font-size: 1rem;
  }
  
  .slds-grid.slds-wrap {
    gap: 20px !important;
    justify-content: center;
  }
  
  .slds-size_4-of-12 {
    width: 30% !important;
  }
  
  .slds-size_4-of-12:hover {
    background-color: #0176d3;
    color: white;
    font-weight: 400;
  }
  
  .selectedClass {
    background-color: #0176d3;
    color: white;
    font-weight: 600;
  }
  
  .slds-form-element__label {
    color: inherit !important;
  }
  
  /* :host {
      --sds-c-checkbox-color-background-checked: green;
      --sds-c-checkbox-mark-color-foreground: yellow;
  } */