.THIS .slds-card__header{
    background-color: aliceblue;
}
.THIS .slds-card__body{
    background-color: cyan;
}
:host{
    --slds-c-card-color-background:white;
    --slds-c-card-color-border:#c9c9c9;
    --slds-c-card-footer-color-border:#c9c9c9;
}