.layoutitemcommon {
  /* border-radius: 1rem; */
  background-color: white;
  color: black;
  border: 1px solid #eef;
  align-self: stretch;
}

.addnotesbox {
  padding: 12px;
  margin: 0 8px 8px 0;
}

.topdiv {
  display: flex;
  justify-content: space-between;
}

/* .topdiv2 {
  margin-left: 6em;
} */
.middlediv {
  display: flex;
  justify-content: space-evenly;
}

.middlediv2 {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1244/1244448.png?w=740&t=st=1667282888~exp=1667283488~hmac=42b81ac…);
  width: 5rem;
  height: 5rem;
  background-repeat: round;
  margin: 1rem auto;
}

.middlediv3 {
  text-align: center;
}

.bottomdiv2 {
  display: flex;
  justify-content: space-between;
}

.clockin {
  height: 1px;
  width: 1px;
  font-size: 10px;
}

.listview {
  font-size: 10px;
  background-color: coral;
  margin: 1px;
}

.graphicview {
  font-size: 10px;
  margin: 1px;
}

.thirddiv {
  margin-top: -19px;
}

/* .............................. */

.staffOnTime,
.notInToday {
  padding: 12px;
  color: #fff;
  background: #0176d388;
  text-align: center;
  font-weight: 500;
}

.attendanceTable,
.requestInbox {
  padding: 12px;
  color: #444;
  font-weight: 500;
  text-align: center;
  background: #eee;
}

.attendanceTable,
.requestInbox>div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem 0;
}

.info lightning-layout.slds-grid.slds-wrap {
  gap: 2rem;
  justify-content: space-between;
}

.info {
  margin: 2rem 0;
  background: white;
  text-align: center;
  /* padding: 1rem; */
}

.info>div {
  padding: 1rem;
}

/* /message pop screen starts/ */

.img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #bebebe;
  font-size: xx-large;
  color: white;
  padding: 4px;
}

.popNum {
  width: 20px;
  height: 20px;
  background: rgb(255, 92, 92);
  color: #fff;
  position: absolute;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  right: 0;
}

div {
  color: #000;
}

.msgContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.profileContainer {
  width: 54px;
  padding: 1rem;
  margin: 1rem;
}

.profileContainer>div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 54px;
}

span.userName {
  font-size: 12px;
}

.profileContainer>div:first-child {
  cursor: pointer;
  width: 54px;
  position: relative;
}

.filterMsg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.filterMsg div>span {
  margin: 8px;
}

.headerTitle {
  text-align: left;
}

/* /message pop screen end/ */

.bottomdiv {
  display: flex;
  justify-content: space-evenly;
}

.btmlft>div>span {
  margin-left: 4px;
}

.btmlft>div {
  display: flex;
  align-items: center;
}

.btmrgt>div>span {
  font-size: 12px;
}

@media (min-width: 64em) {

  .displayCardRows .slds-large-size_3-of-12,
  .displayCardRows .slds-large-size--3-of-12 {
    width: 30%;
  }
}

.layoutitemcommon {
  background-color: white;
  width: 445px;
  min-height: 204px;
  border-radius: 8px;
  cursor: pointer;
}

.bottomdiv2 {
  display: flex;
  justify-content: space-between;
}

.bottomdiv2>div {
  display: inline-block;
}

.bottomdiv2 button:active {
  background-color: #f2f2f2;
}

.bottomdiv2 button {
  outline: none;
  font-size: 15px;
  color: #0070D2;
  font-weight: 500;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #dddbda;
}

.imgFlexScroll {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 125px;
  scroll-behavior: smooth;
}

.imgFlexScroll>div {
  flex-shrink: 0;
}

.imgFlexScroll p {
  /* position: absolute;
    top: 0; */
  font-size: 2rem;
  color: #fff;
  font-family: cursive;
  width: 370px;
  margin: 25px;
}

.gudi {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/ugadi.svg");
}

.republicDay {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/india-republic-day.svg");
}

.shivratri {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/shivratri.svg");
}

.holi {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/holi.svg");
}

.ashtami {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/dussehra.svg");
}

.navami {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/srirama-navami.svg");
}

.rakshaBandhan {
  background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/rakshabandhan.svg");
}

.grxView {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  height: 157px;
}

.grxView>p {
  transform: rotate(180deg);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: -15px;
  z-index: 1;
  cursor: pointer;
  background-image: url(https://cdn-icons-png.flaticon.com/512/32/32213.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.grxView>p::selection {
  background-color: transparent;
}

.grxView>p:active {
  background-color: #444;
  color: #fff;
}

.grxView>p:last-child {
  transform: rotate(0deg);
  right: 0;
  left: 96%;
}