.resScreen {
  /* width: 100%; */

  display: grid;
  /* flex-direction: row;
    justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 18px;
}

:host {
  --slds-c-card-color-background: white;
  --slds-c-card-color-border: transparent;
  --slds-c-card-text-color: #000;
  --slds-c-card-shadow: none;
  --slds-c-card-body-spacing-block-end: 1rem;
  --slds-c-card-body-spacing-block-start: 1rem;
  --slds-c-card-body-spacing-inline-end: 1rem;
  --slds-c-card-body-spacing-inline-start: 1rem;
}

.cardBg {
  --slds-c-card-color-background: transparent;
  color: #444;
}

.guidedFlow {
  display: flex;
  background: #8080801f;
  padding: 1rem;
  margin: 0 0.75rem;
  border-radius: 2rem;
  justify-content: space-evenly;
}

ul.guidedFlow>li {
  margin: 8px 0;
}

@media (max-width: 720px) {
  .resScreen {
    /* width: 80vw; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}

@media (min-width: 720px) and (max-width: 1080px) {
  .resScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.madding {
  margin: 10px 0px;
  padding: 10px;
}

.headCont {
  width: 100%;
  text-align: center;
}

lightning-layout-item.slds-size_1-of-1.slds-medium-size_6-of-12.slds-large-size_4-of-12.slds-col {
  text-align: left;
  padding: 1rem;
}

/* .vIcon{
    background-color: #830063;
    opacity: 75%;
}

.sIcon{
    background-color: #4da574;
    opacity: 75%;
} */