nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul li {
  display: flex;
  /* justify-content: center; */
  padding: 8px;
  width: 100%;
  /* height: 80px; */
}

.toggleLiTag {
  justify-content: flex-start !important;
}

ul li:hover {
  background: #015198;
}

ul li>span {
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
}

ul li>a {
  display: flex;
  align-items: center;
  color: #fff;
  /* text-transform: uppercase; */
}

ul>li>span>span {
  font-size: 14px;
  white-space: nowrap;
}

.my-icon {
  --sds-c-icon-color-foreground-default: white;
  margin: 10px;
}

.iconTile {
  display: none;
}

/* /////////////////// */
.listmenu {
  display: none;
}

.listmenu {
  position: absolute;
  right: -120px;
  top: 0;
  width: 120px;
  background-color: #0176d3;
  z-index: 999;
}

.listClass,
.listClassroom {
  position: absolute;
  right: -95px;
  top: 0;
  width: 95px;
  background-color: #0176d3;
  display: none;
}

.AcList:hover>.listmenu {
  display: block;
}

.AcClass,
.AcClassroom {
  position: relative;
}

.AcClass:hover>div,
.AcClassroom:hover>div {
  display: block;
}

.nav-icon {
  --sds-c-icon-color-foreground-default: #008eff;
}