.body {
    display: flex;
    margin: 0 auto;
    width: 480px;
    height: 620px;
    padding: 0 20px;
    color: #333;
    position: fixed;
    bottom: 8px;
    right: 8px;
    background: white;
    border: thin solid grey;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.msgFooter {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.msgFooter>div>div {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.msgFooter input[type="text"] {
    border: none;
    outline: none;
    padding: 0 5px;
    width: -webkit-fill-available;
}

.msgHeader>div>div:first-child {
    width: 50px;
    height: 50px;
    background: grey;
    margin-right: 8px;
}

.msgHeader {
    display: flex;
    align-items: center;
    padding: 16px 0;
    justify-content: space-between;
}

.msgHeader>div {
    display: flex;
}

.msgFooter>div:last-child {
    background: #ff0070;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 2px;
    --sds-c-icon-color-foreground-default: white;
}

.msgFooter>div:first-child {
    width: 85%;
}

.msgFooter>div>div:first-child {
    display: flex;
    justify-content: space-between;
}

.msgBody {
    height: -webkit-fill-available;
}

.sync-icon {
    --sds-c-icon-color-foreground-default: #0176d3aa;
    animation: spinner 20s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}