div {
    color: #444;
    /* font-weight: 500; */
}

.sHeader {
    font-weight: 600;
    position: absolute;
    top: 20px;
    z-index: 999;
    left: 140px;
    font-size: 16px;
    background-color: #00a1e0;
    padding: 3px 6px;
    color: #fff;
    border-radius: 6px;
}

.headerContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    justify-content: start;
    padding: 2rem 0;
}

.headerContent>div {
    background-color: #0176d3;
    color: #fff;
    padding: 2rem;
    width: 20rem;
    text-align: center;
    cursor: pointer;
}

.footerContent {
    padding: 1rem 0;
}

.footerContent>div {
    display: flex;
    align-items: center;
}

.cardContainer {
    display: flex;
    gap: 2rem;
    /* width: 30rem; */
    justify-content: space-between;
    align-items: center;
}

.cardContainer>div {
    background-color: #c9e7ff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10rem;
    font-weight: 500;
}

.cardContainer .card-title {
    text-align: center;
    padding: 4px;
    background-color: #0176d3;
    color: #fff;
}

.cardContainer>div>span:last-child {
    padding: 14px;
    font-size: 24px;
}

.btnContainer {
    padding: 3rem;
}

.btn {
    background-color: #0176d3;
    color: #fff !important;
    padding: 8px;
    cursor: pointer;
}

.layoutitemcommon {
    background-color: white;
    width: 438px;
    /* min-height: 204px; */
    border-radius: 8px;
    cursor: pointer;
}

.bottomdiv2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.bottomdiv2>div {
    display: inline-block;
}

.bottomdiv2 button:active {
    background-color: #f2f2f2;
}

.bottomdiv2 button {
    outline: none;
    font-size: 15px;
    color: #0070D2;
    font-weight: 500;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #dddbda;
}

.imgFlexScroll {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 125px;
    scroll-behavior: smooth;
    border-radius: 4px;
}

.imgFlexScroll>div {
    flex-shrink: 0;
}

.imgFlexScroll p {
    /* position: absolute;
    top: 0; */
    font-size: 2rem;
    color: #fff;
    font-family: cursive;
    width: 370px;
    margin: 25px;
}

.gudi {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/ugadi.svg");
}

.republicDay {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/india-republic-day.svg");
}

.shivratri {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/shivratri.svg");
}

.holi {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/holi.svg");
}

.ashtami {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/dussehra.svg");
}

.navami {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/srirama-navami.svg");
}

.rakshaBandhan {
    background-image: url("https://cdn.kekastatic.net/assets/images/dashboard/holidays/rakshabandhan.svg");
}

.grxView {
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 1rem 0;
    height: 157px; */
}

.grxView>p {
    transform: rotate(180deg);
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: -8px;
    z-index: 1;
    cursor: pointer;
    background-image: url(https://cdn-icons-png.flaticon.com/512/32/32213.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
}

.grxView>p::selection {
    background-color: transparent;
}

.grxView>p:active {
    background-color: #444;
    color: #fff;
}

.grxView>p:last-child {
    transform: rotate(0deg);
    right: 0;
    left: 96%;
}


/* //////////////////////////////// */
.dashboard {
    display: FLEX;
    justify-content: space-around;
    align-items: center;
}

.border {
    color: #69e393;
    /* padding: 13px;
    width: 100px;
    height: 100px;
    border-radius: 50%; */
    text-align: center;
    font-size: 3rem;
    margin-top: 15px;
}

.sickL {
    color: #ff766b;
}

.otherL {
    color: #e0dd51;
}

/* #ff766b ##e0dd51 */

.dashboard>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 15px; */
}

.dashboard .border+p {
    margin-bottom: 8px;
}

/* /message pop screen/ */

.img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #bebebe;
    font-size: xx-large;
    color: white;
    padding: 10px;
    text-align: center;
}

.popNum {
    width: 20px;
    height: 20px;
    background: rgb(255, 92, 92);
    color: #fff;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    right: 0;
}

div {
    color: #000;
}

.msgContainer {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.profileContainer {
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
}

.profileContainer>div {
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 54px; */
}

span.userName {
    font-size: 12px;
}

.profileContainer>div:first-child {
    cursor: pointer;
    width: 54px;
    position: relative;
}

.filterMsg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.filterMsg div>span {
    margin: 8px;
}

.headerTitle {
    text-align: left;
}

/* /message pop screen end/ */

/* Alerts and Notifications Start */
.container {
    display: flex;
    justify-content: space-between;
}

.alerts {
    width: 49%;
    background-color: #fff;
    border-radius: 8px;
}

.card {
    padding: 10px;
    height: 100%;
}

/* Alerts and Notifications End */


/* /Post/ */
.postHead:before {
    content: '';
    width: 30px;
    background: #8199af;
    height: 30px;
    display: block;
    margin-right: 6px;
    border-radius: 50%;
}

.post {
    background-color: aliceblue;
    padding: 10px;
    margin: 12px 0;
}

.postHead {
    display: flex;
}

.postHead>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.postHead span {
    font-size: x-small;
    font-weight: 400;
}

.postBody {
    margin: 10px 0;
}

.postFooter {
    display: flex;
    justify-content: space-between;
}

.postFooter>div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* /Post/ */